<!DOCTYPE html>
<html>
<head>
    <title>Cadastrar Aluno</title>
</head>
<body>
    <h1>Cadastrar Aluno</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            <label for="{{ form.nome.id_for_label }}">Nome:</label>
            {{ form.nome }}
            {{ form.nome.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.endereco.id_for_label }}">Endereço:</label>
            {{ form.endereco }}
            {{ form.endereco.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.data_de_nascimento.id_for_label }}">Data de Nascimento:</label>
            {{ form.data_de_nascimento }}
            {{ form.data_de_nascimento.errors }}
        </div>
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>